{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watchlist - ReelView</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
</head>
<body>
    <!-- Navbar -->
    <header class="navbar">
        <div class="navbar-container container ">
            <a href="{% url 'home' %}"><img src="{% static 'logo.png' %}" alt="ReelView Logo" class="navbar-logo"></a>
            <nav class="navbar-nav">
                <a href="{% url 'home' %}" class="nav-link">Home</a>
                <a href="{% url 'catalog' %}" class="nav-link">Katalog</a>
                <a href="{% url 'watchlist' request.user.username %}" class="nav-link active">Watchlist</a>
                <a href="{% url 'forum' %}" class="nav-link">Discussion</a>
            </nav>
            <div class="navbar-addon">
                <div class="navbar-search">
                    <i class="fa fa-search navbar-search-icon"></i>
                    <form action="{% url 'catalog' %}" method="get">
                        <input type="text" name="film" class="navbar-search-control" placeholder="Cari Film">
                    </form>
                </div>
                <a href="{% url 'users' request.user.username %}" class="navbar-profile">
                    <img src="{{ request.user.site_user.profile_picture.url }}" alt="Profil">
                </a>
            </div>
        </div>
    </header>
    <div class="watchlist-hero">
        <img src="{% static 'bg-watchlist.png' %}" alt="Watchlist Banner" class="watchlist-hero-bg">
        <div class="watchlist-hero-content container">
            <h1 class="watchlist-title">WATCHLIST</h1>
            <p class="watchlist-desc">
                List film yang akan kamu tonton nanti, jangan lupa diingat ^^
            </p>
        </div>
    </div>
    <div class="container">
        <!-- Watchlist Section -->
        <section class="section">
            <div class="card-row">
                {% for wtags, wfilm, wratings in watchlist %}
                    <div class="card">
                        <img src="{{ wfilm.film.poster.url }}" alt="{{ wfilm.film.name }}" class="card-img">
                        <div class="card-meta">
                            <div class="card-genre">{% for tag in wtags %} {{ tag.name }} {% endfor %}</div>
                            <div class="card-title"><a href="{% url 'films' wfilm.film.id %}">{{ wfilm.film.name }}</a></div>
                            <div class="card-rating">
                                <span class="card-rating-star"><i class="fa fa-star"></i></span>
                                {{ wratings.0 }} <span class="card-ulasan">({{ wratings.1 }} Ulasan)</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="footer-row">
                <div class="footer-col">
                    <div class="footer-title">Eksplorasi</div>
                    <ul class="footer-list">
                        <li><a href="{% url 'catalog' %}">Katalog Film</a></li>
                        <li><a href="{% url 'home' %}">Rekomendasi Minggu Ini</a></li>
                        <li><a href="{% url 'watchlist' user.username %}">Watchlist Saya</a></li>
                        <li><a href="{% url 'forum' %}">Diskusi Film</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <div class="footer-title">Akun</div>
                    <ul class="footer-list">
                        <li><a href="{% url 'users' user.username %}">Profil Saya</a></li>
                        <li><a href="./login.html">Login / Daftar</a></li>
                        <li><a href="{% url 'users_outside' request.user.username %}">Ulasan Saya</a></li>
                        <li><a href="{% url 'users' user.username %}">Pengaturan</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <div class="footer-title">Bantuan</div>
                    <ul class="footer-list">
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Hubungi Kami</a></li>
                        <li><a href="#">Kebijakan Privasi</a></li>
                        <li><a href="#">Syarat & Ketentuan</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <div class="footer-social-row">
                        <a href="#" class="footer-social-link"><i class="fab fa-x-twitter"></i></a>
                        <a href="#" class="footer-social-link"><i class="fab fa-facebook"></i></a>
                        <a href="#" class="footer-social-link"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="footer-social-link"><i class="fab fa-tiktok"></i></a>
                    </div>
                    <a href="#" class="btn btn-outline-primary btn-footer">Contact Us</a>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-copy">
        <div class="container">
            &copy; 2025 Reelview. Semua hak cipta dilindungi.
        </div>
    </div>
</body>
</html>